@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }50%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(-360deg);
    }
}

header{
    background-color: #f6f6f6;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .text{
        color: #ba2929;
    }
    .animate{
        color: #ba2929;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        animation: rotate 10s ease-in-out infinite;
    }
}